body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--bs-light-subtle);
}
.value-input {
    width: 9em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.currency-input {
    width: 3.5em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.hide {
    width: 0px;
    height: 0px;
    display: none;
}
#arrow {
    width: 2.5em;
    margin-left: 3em;
    margin-right: 3em;
    z-index: 1;
}
#form-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}
#main-header{
    justify-self: center;
}