{% extends 'base.html' %}

{% block base_head %}
<link href="{{ url_for('static', path='/css/converter.css') }}" rel="stylesheet">
{% endblock base_head %}

{% block base_body %}
<h1 id="main-header">Open Currency Swap</h1>
<form id="form-body" method="post" action="/converter/submit">
    <div class="value-input-group row">
        <input
                class="form-control value-input bg-secondary-subtle"
                name="base_value"
                type="text"
                onfocus="this.value=''"
                onchange="this.blur();"
                required
                {% if base_value %}
                value={{ base_value }}
                {% else %}
                value="0"
                {% endif %}
        />
        <input
                class="form-control currency-input bg-primary-subtle"
                list="base_currency_choice"
                id="base_currency"
                name="base_currency"
                onfocus="this.value=''"
                onchange="this.blur();"
                required
                {% if base_currency %}
                value={{ base_currency }}
                {% endif %}
        />
        <datalist id="base_currency_choice">
            {% if currencies %}
            {% for currency in currencies %}
            <option value={{ currency }}></option>
            {% endfor %}
            {% endif %}
        </datalist>
    </div>


    <label id="arrow" for="submit-button">
        <input id="submit-button" class="hide" type="submit" value=""/>
        <img src="{{ url_for('static', path='/images/block-arrow-right.svg') }}">
    </label>
    <div class="value-input-group row">
        <input
                class="form-control value-input bg-tertiary"
                name="target_value"
                type="text"
                onfocus="this.value=''"
                onchange="this.blur();"
                {% if target_value %}
                value={{ target_value }}
                {% else %}
                value="0"
                {% endif %}
                disabled
                readonly
        />
        <input
                class="form-control currency-input bg-primary-subtle"
                list="target_currency_choice"
                id="target_currency"
                name="target_currency"
                onfocus="this.value=''"
                onchange="this.blur();"
                required
                {% if target_currency %}
                value={{ target_currency }}
                {% endif %}
        />
        <datalist id="target_currency_choice">
            {% if currencies %}
            {% for currency in currencies %}
            <option value={{ currency }}></option>
            {% endfor %}
            {% endif %}
        </datalist>
    </div>
</form>
{% if error %}
<div class="alert alert-danger" role="alert">Wrong input!</div>
{% endif %}
{% endblock base_body %}