{% extends 'base.html' %}
{% block base_body%}
<h2>What do you want to delete?</h2>
<form method="post" action="/admin/delete/submit">
    <p>
        <label> Enter a currency_name:
            <input name="name" type="text">
        </label>
    </p>
</form>
{% endblock base_body%}