{% extends 'base.html' %}
{% block base_body %}
<h1>Edit</h1>
<form method="post" action="/admin/edit/submit">
    <p>
        <label> Enter a currency_name:
            <input name="name" type="text">
        </label>
    </p>
    <p>
        <label> Enter a currency_value:
            <input name="value" type="text">
        </label>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% endblock base_body%}

