{% extends 'base.html' %}
{% block base_body%}
{% if quotes%}
<h1 class="text-success">Quotes:</h1>
    {{ quotes }}
{% else %}
<h1 class="text-danger">BAD IMPORTING</h1>
{% endif %}
{% endblock base_body%}
